body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #777676;
  color:  #1630BE;
  min-height: 100vh;
}
h1,
h2 {
  text-align: center;
  color:  #1630BE;
  margin: 20px 0;
}
p {
  color: beige;
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
}
h3 {
  text-align: center;
  margin-top: 60px;
  background-color:  #1630BE;
  color: black;
  padding: 10px;
  border-radius: 8px;
}
ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 20px auto;
  text-align: left; 
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 20px;
}
img {
  display: block;
  margin: 20px auto;
  width: 35%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.logo {
  width: 150px;
  margin: 20px auto;
  display: block;
}
.footer {
  text-align: center;
  color: #fff;
  margin-top: 60px;
  padding: 20px;
  font-size: 0.9rem;
  background-color: #00225d;
  border-top: 4px solid cyan;
}
.vermas {
  color: #c0c0c0;
  text-decoration: none;
  font-weight: bold;
}
.vermas:hover {
  color:  #1630BE;
}
.header {
  background-color: #0b0b0b;
  color: white;
  padding: 20px;
  text-align: center;
}
.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.header h2 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 15px;
}
.nave ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-bottom: 15px;
}
.nave a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}
.nave a:hover {
  background-color: #444;
  border-radius: 5px;
}