body {
  background-color: #003791;
}
h1,
h2 {
  text-align: center;
  margin: auto;
  color: #777777;
}
p {
  color: beige;
}
h3 {
  text-align: center;
  margin-top: 10%;
  background-color: cyan;
}
img {
  display: block;
  margin: auto;
  height: 200px;
}
ul {
  color: #c0c0c0;
}
.footer {
  text-align: center;
  margin: auto;
}
.vermas {
  color: #c0c0c0;
}
