h1,
h2 {
  text-align: center;
  margin: auto;
  color: #777777;
}
p {
  color: beige;
}
h3 {
  text-align: center;
  margin-top: 10%;
  color: white;
}
img {
  display: block;
  margin: auto;
  width: 35%;
  height: auto;
}
.modelos {
  width: 300px;
  height: auto;
}
hr {
  background-color: black;
  margin: auto;
}
.footer {
  text-align: center;
  margin: auto;
}
.vermas {
  color: #c0c0c0;
}
.ps4m {
  width: 45%;
}
